/* CSS Document */
:root {
   --dark-yellow: rgb(300, 193, 145);
   --tan: rgb(231, 206, 173);
   --brown: rgb(73, 49, 16);
   --light-green: rgb(153, 172, 134);
}
@font-face {
   font-family: Roboto-Regular;
   src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
   font-family: Roboto-Medium;
   src: url("../fonts/Roboto-Medium.ttf");
}

html,
body {
   font-family: Roboto-Regular;
   margin: 0 auto;
   background-repeat: no-repeat;
   background-size: 250%;
}

h1 {
   font-family: Roboto-Medium;
   margin: 2px;
   text-align: center;
   color: var(--brown);
   font-size: 2.5em;
   text-shadow: 1px 2px var(--tan);
}
#welcome {
   font-family: Roboto-Medium;
   text-align: center;
   color: var(--dark-yellow);
}
button {
   font-size: 12px;
   font-weight: bold;
   padding: 8px;
}

div#content {
   width: 700px;
   margin: 0 auto;
   padding: 20px;
   background-image: url(../img/baseball-field-grass-turf.jpg);
   border: 3px solid var(--brown);
   border-radius: 1em;
}
.intro {
   margin: 20px 0px 20px 0px;
}
p#directions {
   max-width: 90%;
   margin: 0 auto;
   padding: 10px;
   align-self: baseline;
   background-color: whitesmoke;
   border-radius: 0.5em;
}
div#controls {
   display: flex;
   align-items: center;
   font-weight: bolder;
   color: var(--dark-yellow);
   margin: 0px 20px 0px 20px;
}

#timer {
   display: none;
   flex-grow: 6;
}

#score {
   flex-grow: 1;
}

div#gamespace {
   margin: 20px;
   padding: 10px;
   height: 350px;
   background-color: var(--tan);
   border: 2px solid #ccc;
   border-radius: 0.5em;
}

#baseball {
   max-width: 15%;
}
